/* Font Name - Poppins ( Link in Description ) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Font Name - Merienda ( Link in Description ) */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;
}

:root {
    --pr-color: #f7444e;
    --sc-Color: #002c3e;
    --font-color: #0c0c0c;
    --Bg-Color: #f8f8f8;
}

/* -------- Navbar CSS -------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.navbar .logo img {
    cursor: pointer;
    
}

.navbar .navlinks {
    display: flex;
    align-items: center;
}

.navbar .navlinks li {
    list-style: none;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navlinks li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--sc-Color);
    transition: all .5s ease;
}

.navbar .navlinks li a:hover,
.navbar .navlinks li ion-icon:hover {
    color: var(--pr-color);
}

/* -------- Home Section CSS -------- */
.home_section {
    width: 100%;
    height: 85vh;
    background-image: url(./img/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10%;
}

.home_section .home_container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_section .home_container .heading {
    font-size: 46px;
    font-family: Merienda;
    color: var(--pr-color);
    line-height: 53px;
    margin-bottom: 21px;
    font-weight: 700;
}

.home_section .home_container .heading span {
    font-family: Merienda;
    color: var(--sc-Color);
}

.home_section .home_container p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 23px;
    opacity: .9;
}

.home_section .home_container .btn {
    width: 160px;
    height: 45px;
    margin-top: 2%;
    background-color: var(--pr-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--pr-color);
    transition: all .5s ease;
}

.home_section .home_container .btn:hover {
    background: none;
    border: 1px solid var(--font-color);
    color: var(--font-color);
}

/* -------- Poster Section CSS -------- */
.poster {
    width: 100%;
    height: auto;
    padding: 80px 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head_text {
    font-size: 28px;
    font-family: Merienda;
    font-weight: 700;
    text-align: center;
    color: var(--sc-Color);
    position: relative;
    margin-bottom: 80px;
}

.head_text::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background-color: var(--pr-color);
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

/* -------- Adjustments for Smaller Screens -------- */
@media (max-width: 768px) {
    .home_section .home_container {
        width: 100%;
    }

    .navbar .navlinks {
        flex-direction: column;
    }
}
